<!-- Toolbar -->
<nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3'>
  <div class="toolbar" role="banner">
    <a aria-label="Pagina inicial" rel="noopener" [routerLink]='["/inicio"]' title="Início">
      <img src="../assets/images/logo.svg" alt="My Finances Logo" title="My Finances" height="40" srcset="../assets/images/logo.svg">
    </a>
      
    <span>My Finances</span>
    <div class="spacer"></div>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]='{"show": isExpanded}'>
        <ul class="navbar-nav flex-grow">
          <!-- <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <a class="nav-link text-dark" [routerLink]='["/"]'>Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-dark" [routerLink]='["/produto"]'>Produto</a>
          </li> -->
          <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="!usuarioLogado()">
            <a class="nav-link text-dark" [routerLink]='["/login"]' title="Login">
              <i class="fa fa-sign-in fa-3x user-logo" aria-hidden="true"></i>
            </a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="usuarioLogado()">
            <a class="nav-item nav-link text-dark" [routerLink]='["/sair"]' (click) = "sair()" title="Sair">
              <i class="fa fa-sign-out fa-3x user-logo" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
  </div>
</nav>