.spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    /* background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(25,118,210,0.8018557764902836) 100%); */
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar .user-logo {
    height: 40px;
    margin: 0 16px;
    fill: white;
  }

  .toolbar .user-logo:hover {
    opacity: 0.8;
  }