<div class="row">
    <div class="col-sm-12">
        <table class="table table-hover tabela">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Registro</th>
                <th colspan="2">Descrição</th>
                <th colspan="2">Pagamento</th>
                <th scope="col">Crédito</th>
                <th scope="col">Débito</th>
                <th scope="col">Data</th>
                <th scope="col">Valor</th>
                <th colspan="2">Ação</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Cadeira</td>
                <td colspan="2">Compra cadeira Carrefour</td>
                <td colspan="2">Parcelado</td>
                <td>
                    <label class="switch">
                        <input type="checkbox" disabled>
                        <span class="slider round"></span>
                    </label>
                </td>
                <td>
                    <label class="switch">
                        <input type="checkbox" checked disabled>
                        <span class="slider round"></span>
                    </label>
                </td>
                <td>05/04/2020</td>
                <td>R$369,90</td>
                <td><a class="btn-sm btn-warning btn-text" style="cursor: pointer;">Editar</a></td>
                <td><a class="btn-sm btn-danger btn-text" style="cursor: pointer;">Excluir</a></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Cookie</td>
                <td colspan="2">Compra de materiais para fazer cookie</td>
                <td colspan="2">À vista</td>
                <td>
                    <label class="switch">
                        <input type="checkbox" disabled>
                        <span class="slider round"></span>
                    </label>
                </td>
                <td>
                    <label class="switch">
                        <input type="checkbox" checked disabled>
                        <span class="slider round"></span>
                    </label>
                </td>
                <td>05/04/2020</td>
                <td>R$369,90</td>
                <td><a class="btn-sm btn-warning btn-text" style="cursor: pointer;">Editar</a></td>
                <td><a class="btn-sm btn-danger btn-text" style="cursor: pointer;">Excluir</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>