<hr>
<p>Parâmetros de Configuração</p>
<hr>
<div class="row">
    <div class="col-sm-4 text-center mb-2 ml-4">
        <a class="menu-config-link" [routerLink]='["/users"]'>
            <div class="card" title="Cadastrar os tipos de usuário para acessar ao sistema">              
                <div class="img-card mb-3">
                  <i class="fa fa-id-card fa-2x" aria-hidden="true"></i>
                </div>
                <hr style="margin-top: auto;">
                <div class="card-body">
                    <p class="card-text">Tipo de Usuário</p>
                </div>
            </div>
        </a>
    </div> 

    <div class="col-sm-4 text-center mb-2 ml-4">
        <a class="menu-config-link" [routerLink]='["/usertype"]'>
            <div class="card" title="Cadastrar opções referente aos tipos de pagamento">              
                <div class="img-card mb-3">
                  <i class="fa fa-credit-card fa-2x" aria-hidden="true"></i>
                </div>
                <hr style="margin-top: auto;">
                <div class="card-body">
                    <p class="card-text">Tipo de Pagamento</p>
                </div>
            </div>
        </a>
    </div> 
</div>
<hr>
<p>Parâmetros de Acesso</p>
<hr>
<div class="col-sm-4 text-center mb-2 ml-2">
    <a class="menu-config-link" [routerLink]='["/newuser"]'>
        <div class="card" title="Cadastrar novos usuários para acesso ao sistema">              
            <div class="img-card mb-3">
              <i class="fa fa-address-card fa-2x" aria-hidden="true"></i>
            </div>
            <hr style="margin-top: auto;">
            <div class="card-body">
                <p class="card-text">Novo Usuário</p>
            </div>
        </div>
    </a>
</div> 
